#container {
	display: grid;
	grid-template-columns: auto 60% auto;
	grid-template-areas: ". egg .";
	height: 100vh;

	>div {
		grid-area: egg;

		#egg {
			height: 200px;
			width: 150px;
			background-color: rgb(255, 116, 169);
			border-radius: 100%;
			margin-top: 200px;
			margin-left: -400px;
		}

	}

}
